<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand logo" href="/">
        <img id="logo-img" class="img-fluid" src="/Content/images/logo-beyaz.svg" alt="Agroporos">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto me-auto position-relative">
            <!-- Home -->


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Kurumsal</a>
                            <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/hakkimizda" title="Hakkımızda">Hakkımızda</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/neden-biz" title="Neden Biz?">Neden Biz?</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/misyonumuz" title="Misyonumuz">Misyonumuz</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/belgelerimiz" title="Belgelerimiz">Belgelerimiz</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">&#220;r&#252;nlerimiz</a>
                            <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/urunlerimiz/agroot-organic-pro" title="Agroot Organic Pro">Agroot Organic Pro</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/urunlerimiz/agroot-organic-power" title="Agroot Organic Power">Agroot Organic Power</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/urunlerimiz/agroot-organic-prime" title="Agroot Organic Prime">Agroot Organic Prime</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/urunlerimiz/endustriyel-urunler" title="End&#252;striyel &#220;r&#252;nler">End&#252;striyel &#220;r&#252;nler</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/ne-yapiyoruz" title="Ne Yapıyoruz?">Ne Yapıyoruz?</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">&#220;retim</a>
                            <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/uretim-yontemi" title="&#220;retim Y&#246;ntemi">&#220;retim Y&#246;ntemi</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="/uretim-tesislerimiz" title="&#220;retim Tesislerimiz">&#220;retim Tesislerimiz</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/iletisim" title="İletişim">İletişim</a>
                        </li>


            <li class="nav-item dropdown">
                <a class="nav-link" href="/en"><b>EN</b></a>
            </li>


        </ul>
    </div>
    <div class="right-nav align-items-center d-flex justify-content-end">

        <a class="btn btn-theme btn-sm d-none d-md-inline-block" href="/iletisim"><span>Bayilik Başvurusu</span></a>
    </div>
</nav>