p{
  font-weight: 900;
  font-weight: bold; 
  font-size: xx-large;
  font-variant :small-caps;
   text-align : center;
}
.bir{
  border: 1px solid rebeccapurple;
  text-align: end;
  text-align: justify;
  text-align: center;

}